In [11]:
lst=[1,2,3,45,6,9,6,5,7,0,76,77,97,7,3]         #sum of odd & even
s1=0
s2=0
for i in lst:
    if(i%2==0):
        s1=s1+i
        print(s1)
    if(i%2!=0):
        s2=s2+i
        print(s2)  
print("sum of even numbers",s1)       
print("sum of odd numbers",s2)

1
2
4
49
8
58
14
63
70
14
90
147
244
251
254
sum of even numbers 90
sum of odd numbers 254

In [2]:
lst=[2,5,86,51,2,37,24,12,6,5,30]
s3=0
for i in lst:
    if(s3>86):
            break
    s3=s3+i
s3

93

In [1]:
sum(range(1,100,2))        #sum of first 100 odd numbers

2500

In [4]:
for val in "string":
    if val=="i":
        break       #continue(skip iteration)  
    print(val)

s
t
r

In [5]:
s="Bishwadeep"
s

'Bishwadeep'

In [8]:
s.center(30,"o")

'ooooooooooBishwadeepoooooooooo'

In [10]:
s.split(sep='w')

['Bish', 'adeep']

In [11]:
"""
My name 
is Bishwadeep          #multi-line statement 
Gon Chowdhury
"""

'\nMy name \nis Bishwadeep\nGon Chowdhury\n'

In [12]:
'hello\the'.expandtabs()

'hello   he'

In [17]:
l1=[2,3,4]
l2=[5,6,7]
l3=[8,9,1]
matrix=[l1]+[l2]+[l3]
matrix

[[2, 3, 4], [5, 6, 7], [8, 9, 1]]

In [19]:
l=[]
for i in matrix:
    l.append(i[2])
l

[4, 7, 1]

In [22]:
col1=[row[0] for row in matrix]              #list comprehension(single line of code)
col1

[2, 5, 8]

In [36]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[i for i in a if i%2==0]
sum (b)

30